<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensor"
    android:versionCode="1"
    android:versionName="1.0" >

<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/lock"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity2"></activity>
      
         <receiver
            android:name="ScreenLockDeviceAdminReceiver"
            android:label="Screen Lock"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/screenlock_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>